* {
  font-size: 17px;
}

h1 {
  margin-top: 5px;
}

aside {
  font-size: 1.4em;
  color: #464646;
  margin-bottom: 40px;
}

.icon-home{
  height: 30px;
}

.beers-img-thumbnail {
  max-height: 150px;  
}

.beers-img-medium {
  max-height: 250px;  
}

.nav-menu-link {
  margin-left: 15px;
  margin-right: 5px;
}

.container-profile > * {
  margin: 30px;
}